# Ədədin Tam Hissesini Tapmaq (IF/Else)

In [2]:
x = float(input('Write real number'))
y= round(x)
if x>0:
    if y>x:
        Tam_Hisse = y-1
    else:
        Tam_Hisse = y
else:
    if y<x:
        Tam_Hisse = y+1
    else:
        Tam_Hisse = y
print('Ədədin Tam Hissəsi: ',Tam_Hisse)       
if Tam_Hisse%2 == 0:
    print('Cüt Ədəd')
else:
    print('Tək Ədəd')

Write real number

ValueError: could not convert string to float: ''

# Loop

In [ ]:
#while
n = int(input('Write a number: '))
i=0
while i<n:
    i += 1
    print(i)

In [ ]:
#for    
for i in range(10):
    i += 1
    print(i)

# Prime Numbers

In [3]:
result = []
n = int(input('N='))
for i in range(1, n):
    for b in range(2, i):
        if (i%b == 0):
            break
    else:
        result.append(i)
print(result)

N=

ValueError: invalid literal for int() with base 10: ''

# Cut & Tek Ededler

In [4]:
#Cut_Eded
n = int(input('Write a number: '))
i=1
while i<n:
    if i%2 == 0:
        print(i)
    else:
        pass
    i+=1
print('Cut Ededler')

Write a number:

ValueError: invalid literal for int() with base 10: ''

In [5]:
#Tek_Eded
n = int(input('Write a number: '))
i=1
while i<n:
    if i%2 == 1:
        print(i)
    else:
        pass
    i+=1
print('Tek Ededler')

Write a number:

ValueError: invalid literal for int() with base 10: ''

# Min to Max

In [6]:
l = [1,5,-4,12,3.5,0,10,-3]

for j in range(len(l)):
    m = l[j]
    idx = j
    c = j
    for i in range(j,len(l)):
        if l[i]<m:
            m = l[i]
            idx = c
        c+=1
    tmp = l[j]
    l[j] = m
    l[idx] = tmp
print(l)

[-4, -3, 0, 1, 3.5, 5, 10, 12]

Basa Dusmedim

# Functions

In [7]:
def kele():
    print('10 jim vur kele')
    print('20 press vur kele')
    print('5deq dincel')
    
kele()

10 jim vur kele
20 press vur kele
5deq dincel

In [30]:
def add(a,b):
    c=a+b    
    print(c) #inside
    return c
 
#Outside
a = add(4,9)
print(a)

13
13

Return

# Default Variable

In [9]:
def user_information(name='Not Written',surname='Not Written',age='Not Written'):
    return f'First Name: {name} Last Name: {surname} Age: {age}'

In [10]:
print(user_information())
print(user_information('Bahram','Muzaffarli',21))

First Name: Not Written Last Name: Not Written Age: Not Written
First Name: Bahram Last Name: Muzaffarli Age: 21

# *Args

In [11]:
def Sum(*args):
    s = 0
    for i in range(len(args)):
        s = s + args[i]
    return s

In [12]:
Sum(4,5,8,7,1,10)

35

# **Kwargs

In [13]:
def f(**kwargs):
    for x in kwargs:
        print(x,kwargs[x])

In [14]:
f(a = 'asiq elesger', z = 'zarttiri zort zort', x='xomeyni',r=31)

a asiq elesger
z zarttiri zort zort
x xomeyni
r 31

# TRY/EXCEPT

In [15]:
num1 = input('1st number: ')
num2 = input('2nd number: ')

try:
    num1 = int(num1)
    num2 = int(num2)
    print('Answer: ', num1/num2)

except ValueError:
    print('Write number ')

except ZeroDivisionError:
    print('You can not divide to Zero')

1st number:
2nd number:
Write number

In [16]:
#4  ??? 
import sys
sys.path.append('C:/Users/FX505DT/PycharmProjects/Python')
import JupyterTest as j

You should write string, but you wrote  <class 'int'>
Remain 83%
1st number:
2nd number:
Write number
Ugurlu Emeliyyat
       salam exi necesen
salam exi necesen
       SALAM EXI NECESEN
       salam exi necesen
       salam exi necesen
       salam əxi nəcəsən

# Strings func

In [17]:
a = '       salam exi necesen        '
print(a)
print(a.strip())
print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.replace('e', 'ə'))

       salam exi necesen
salam exi necesen
       SALAM EXI NECESEN
       salam exi necesen
       salam exi necesen
       salam əxi nəcəsən

# Data Structures

In [18]:
List = ['salam',1,2,3,'sagol']
Tuple = ('salam',1,2,3,'sagol')
Set = {'salam',1,2,3,'sagol'}
Dict = {'sa':'salam','r':1}

In [19]:
print(List,Tuple,Set,Dict)

['salam', 1, 2, 3, 'sagol'] ('salam', 1, 2, 3, 'sagol') {1, 2, 3, 'salam', 'sagol'} {'sa': 'salam', 'r': 1}

In [20]:
List.append('Add')
Set.add('Add')

In [21]:
print(List,Set)

['salam', 1, 2, 3, 'sagol', 'Add'] {1, 2, 3, 'salam', 'sagol', 'Add'}

# Example

In [22]:
def getData():
    D = {}
    while True:
        studentId =  input('Write student id: ')
        marksList = input('Enter the marks: ')
        moreStudent = input('No for quit!')
        if studentId in D:
            print(studentId,'Same student ID, Please change.')
        else:
            D[studentId] = marksList.split(',')
        if moreStudent.lower() == 'no':
            return D

In [23]:
getData()

Write student id:
Enter the marks:
No for quit!
Write student id:
Enter the marks:
No for quit!
 Same student ID, Please change.
Write student id:
Enter the marks:
No for quit!
 Same student ID, Please change.
Write student id:
Enter the marks:
No for quit!
 Same student ID, Please change.
Write student id:
Enter the marks:
No for quit!no
 Same student ID, Please change.

{'': ['']}

In [24]:
studentData = getData()

Write student id:
Enter the marks:
No for quit!
Write student id: no
Enter the marks: no
No for quit!no

In [25]:
def getAvg(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s+=int(marks)
        avgMarks[x] = s/len(L) 
    return avgMarks

In [26]:
avgM = getAvg(studentData)

ValueError: invalid literal for int() with base 10: ''

In [27]:
for x in avgM:
    print('student: ',x,'got,',avgM[x])

NameError: name 'avgM' is not defined

Sholud make better and understand.

In [28]:
%whos

Variable           Type        Data/Info
----------------------------------------
Dict               dict        n=2
List               list        n=6
Set                set         {1, 2, 3, 'salam', 'sagol', 'Add'}
Sum                function    <function Sum at 0x000002860CDFF310>
Tuple              tuple       n=5
a                  str                salam exi necesen
add                function    <function add at 0x000002860B2B8310>
c                  int         8
f                  function    <function f at 0x000002860CE2CEE0>
getAvg             function    <function getAvg at 0x000002860CE7EDC0>
getData            function    <function getData at 0x000002860CE2C940>
i                  int         7
idx                int         7
j                  module      <module 'JupyterTest' fro<...>/Python\\JupyterTest.py'>
kele               function    <function kele at 0x000002860B2B83A0>
l                  list        n=8
m                  int         12
num1               str
num2               str
result             list        n=0
studentData        dict        n=2
sys                module      <module 'sys' (built-in)>
tmp                int         12
user_information   function    <function user_information at 0x000002860B230940>